*{
  padding: 2px;
}

main{
  display: flex;
  justify-content: center;
  align-items:center;
}

/* freccia che va indietro */

.prev-arrow{
  display: flex;
  justify-content: center;
  border: 2px solid black;
  width: 4%;
}

/* box centrale con foto e pallini */
.foto-balls-box{

}

/* foto */
.fotos{

}

/* pallini */
.balls{

  display: flex;
  justify-content: center;
  border: 5px solid blue;
}

/* freccia che va avanti */
.next-arrow{
  display: flex;
  justify-content: center;
  border: 2px solid black;
  width: 4%;
}

/* Classi varie */

.visible{
  display: block;
}

.notvisibile{
  display: none;
}
